.container{
	height: 500px;
	width:100%;
    background-color: white;
	display=flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:space-evenly;
	align-item:flex-start;
}
.item{
	width:5px;
	height:5px;
	
}

/* Your CSS Code here. */